{% extends 'base1.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Ajouter un client</title>
    <!-- Inclure les liens vers les fichiers CSS de Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container mt-5">
      <h1 style="color:#0a58ca">Ajouter un article</h1>
      <form method="post">
          {% csrf_token %}
            <div class="form-row">




              <div class="form-group col-md-6">
                <label for="{{ form.reference.id_for_label }}"><strong>Réference : </strong></label>
                <input type="tel" class="form-control" id="{{ form.reference.id_for_label }}" name="{{ form.reference.name }}" placeholder="Entrez le prix unitaire">
              </div>


              <div class="form-group col-md-6">
                <label for="{{ form.nom.id_for_label }}"><strong>Nom : </strong></label>
                <input type="text" class="form-control" id="{{ form.nom.id_for_label }}" name="{{ form.nom.name }}" placeholder="Entrez le nom d'article">
              </div>

              <div class="form-group col-md-6">
                <label for="{{ form.cout_unitaire.id_for_label }}"><strong>Cout unitaire : </strong></label>
                <input type="tel" class="form-control" id="{{ form.cout_unitaire.id_for_label }}" name="{{ form.cout_unitaire.name }}" placeholder="Entrez le prix unitaire">
              </div>

  </div>         


          <div class="form-group">
            <label for="{{ form.description.id_for_label }}"><strong>Description : </strong></label>
            <textarea class="form-control" id="{{ form.description.id_for_label }}" name="{{ form.description.name }}" placeholder="Entrez la description"></textarea>
          </div> 

          <button type="submit" class="btn btn-primary">Enregistrer</button>
    </div>
</form>

      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    </body>
</html>

{% endblock %}

