<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statistics</title>
</head>

<body>
    <h1>Dashboard</h1>
    <div>
        <h2>Total Clients: {{ total_clients }}</h2>
        <h2>Total Factures: {{ total_factures }}</h2>
        <h2>Total Sales: {{ total_sales }}</h2>
        <h2>Total Paid Factures: {{ total_paid_factures }}</h2>
        <h2>Total Paid Amount: {{ total_paid_amount }}</h2>
    </div>
</body>

</html>
